html {
    scroll-behavior: smooth;
  }
body{
    font-family: 'Times New Roman', Times, serif;
    padding: 0px;
    margin: 0px;

}
.mainHeader{
    background-color: rgb(255, 200, 0);
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 0px;
}
.headMenu {
    position: relative;
    width: 100%;
    background-color: rgb(255, 200, 0);
    padding: 10px 0;
}


.headMenu ul{
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}
.headMenu ul li a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    padding: 10px 20px;
    transition: color 0.7s ease;
}
.headMenu ul li a:hover {
    color: white; /* Hover color */
    background-color: black;
 }
/* Header Section */
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 460px;
    background-image: url(/images/header.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 5px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 

}
.mainHeader{
    font-size: 5em;
}
.subHeadMenu{
    font-size: 4em;
    display: inline;
}
header h1{
    margin: 0px;
    color: white;

}



header h2{
    text-align: center;
    align-items: center;
    justify-content: center;
    color:rgb(255, 255, 255);
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    font-size: 3em;
    display: flex;

}
.buttonContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* here start the main content */
main{
    display: flex;
    flex-direction: column;
}

/* Here start the information of the page */
.autoProInformation{
    display: flex;
    flex-direction: row;
    background-color: #e0e0e0; 
}
.welcomeHeader {
    font-size: 2.5em;
}
.welcomeText{
    font-size: 1.1em;
}
.informationImage{
    width: 50%;
    height: 350px;
    background-image: url(/images/informationImage.jpg);
    background-size: cover;
    background-position: center;
    
}
.informationText{
    font-size: 20px;
    width: 50%;
    height: 350px;
}

/* Here start the services container of the page */
.servicesHeader, .locationHeader{
    height: 50px;
    font-size: 3.4em;
    text-align: center;
    background-color: rgb(255, 255, 255);
    margin: 15px;
}
.services{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    padding-top: 0px;
    font-size: 1.5em;
}

.oilChangeImage{
    width: 100%;
    height: 350px;
    background-image: url(/images/oilChanges.jpg);
    background-size: cover;
    background-position: center;

}

.brakeRepairImage{
    width: 100%;
    height: 350px;
    background-image: url(/images/brakeImage.jpg);
    background-size: cover;
    background-position: center;

}

.engineDiagnosticImage{
    width: 100%;
    height: 350px;
    background-image: url(/images/engineDiagnostic.jpg);
    background-size: cover;
    background-position: center;

}

/*  */
.engineDiagnosticText, .brakeRepairText, .oilChangeText{
    text-align: center;
}
.moreInfo{
    font-size: 1em;
    background-color: rgb(255, 200, 0);
    color: white;
    border: none;
    border-radius: 5px;
    transition: color 0.7s ease;
}
.moreInfo:hover{
    
    background-color: black;
    color: white;
}
.reviews{
    text-align: center;
    font-size: 1.5em;
}

.location{
    display: flex;
}
.locationImage{
    width: 50%;
    height: 350px;
    background-image: url(/images/Map.jpg);
    background-size: cover;
    background-position: center;
}
.locationDescription{
    width: 50%;
    height: 350px;
    font-size: 1.3em;
    background-color: #e0e0e0; 
    background-size: cover;
    background-position: center;
}
.locationDescription h1 {
    text-align: center;
    font-size: 3em;
}

/* Aqui esta el contact us */
.contact-us{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
}
.email-submission{

    background-color: #e0e0e0; 
    padding: 25px;
    border-radius: 10px; 
    border: 2px solid #ccc; 
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1); 
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.contact-us-header {
    font-size: 2em;
    margin-bottom: 15px;
}

.email-submission h2 {
    font-size: 1em;
    margin-bottom: 20px;
}

.input-field {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #999;
    border-radius: 5px;
    font-size: 1em;
}

textarea.input-field {
    resize: none;
}

.submit-btn {
    background-color: #7299c2;
    color: white;
    border: none;
    padding: 12px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    margin-top: 10px;
}

.submit-btn:hover {
    background-color: #2683e6;
}

/* Footer */
footer{
    color: black;
    background-color: rgb(255, 200, 0);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.textAboutUs{
    font-size: 1.5em;
}
.headerAboutUs{
    font-size: 3em;
}




