* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
  }
body{
    font-family: 'Times New Roman', Times, serif;
    padding: 0px;
    margin: 0px;

}
.mainHeader{
    font-size: 5em;
    background-color: rgb(255, 200, 0);
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 0px;
}
.navegation {
    position: fixed;
    width: 100%;
    background-color: rgb(255, 200, 0);
    padding: 10px 0;
}


.navegation ul{
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}
.navegation ul li a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    padding: 10px 20px;
    transition: color 0.7s ease;
}
.navegation ul li a:hover {
    color: white; 
    background-color: black;
 }

 .mainMessage{
    display: flex;
    align-items: center;
    justify-content: center;
 }
/* Header Section */
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600px;
    background-image: url(../images/header.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 5px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 

}
.subHeadMenu{
    font-size: 4em;
    display: inline;
}
header h1{
    margin: 0px;
    color: white;

}



header h2{
    text-align: center;
    align-items: center;
    justify-content: center;
    color:rgb(255, 255, 255);
    text-shadow: 2px 2px 2px rgb(0, 0, 0);

}
.buttonContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* here start the main content */
main{
    display: flex;
    flex-direction: column;
}

/* Here start the information of the page */
.autoProInformation{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: auto;
}
.welcomeHeader {
    font-size: 2.5em;
}
.welcomeText{
    font-size: 1.1em;
}
.containerInformationImage{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 60px 0px 60px 0px;
    padding: 0px;
    height: auto;
    width: 50%;
}
.informationImage{
    margin: 0px;
    padding: 0px;
    width: 720px;
    
    
}
.informationText{
    text-align: center;
    font-size: 20px;
    width: 50%;
    height: 350px;
}

/* Here start the services container of the page */
.locationHeader{
    height: 50px;
    font-size: 3.4em;
    text-align: center;
    margin: 50px;
    padding: 50px;
}

.services{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(232, 228, 222);
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    padding-top: 0px;
    padding-bottom: 30px;
    font-size: 1.5em;
}
.servicesHeader {
    text-align: center;
    font-size: 3.4em;
    padding: 50px;
    width: 100vw; /* Asegura que ocupe todo el ancho de la ventana */
    background-color: rgb(232, 228, 222);
    margin: 0; /* Asegúrate de que no haya márgenes */
    padding: 40px;
}

.oilChange, .brakeRepair, .engineDiagnostic{
    background-color: rgb(241, 241, 234);
    padding-bottom: 20px;
}
.oilChangeImage{
    width: 100%;
    height: 350px;
    background-image: url(../images/oilChanges.jpg);
    background-size: cover;
    background-position: center;

}

.brakeRepairImage{
    width: 100%;
    height: 350px;
    background-image: url(../images/brakeImage.jpg);
    background-size: cover;
    background-position: center;

}

.engineDiagnosticImage{
    width: 100%;
    height: 350px;
    background-image: url(../images/engineDiagnostic.jpg);
    background-size: cover;
    background-position: center;

}


.engineDiagnosticText, .brakeRepairText, .oilChangeText{
    text-align: center;
    padding: 15px;
}
.moreInfo{
    font-size: 1em;
    background-color: rgba(222, 153, 5, 0.872);
    color: white;
    border: none;
    border-radius: 5px;
    transition: color 0.7s ease;
    padding: 10px;
    margin: 20px;
}
.moreInfo:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
.reviews{
    display: flex;
    align-items: center;
    height: 200px;
    text-align: center;
    font-size: 1.5em;
    background-color: rgb(255, 200, 0);
}
/* Aqui empiza el contactUs_location */
.contactUs_location {
    margin: 40px 0px;
    display: flex;
    width: auto;
    height: auto;
}

.contactUs, .location {
    width: 50%;
    min-width: 300px; 
}



/* Aqui esta el contact us */
.contactUs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
}

.email-submission{

    padding: 25px;
    max-width: 400px;
    width: 100%;
}

.contact-us-header {
    font-size: 2em;
    margin-bottom: 15px;
}

.email-submission h2 {
    font-size: 1em;
    margin-bottom: 20px;
}

.input-field {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #999;
    border-radius: 5px;
    font-size: 1em;
}

textarea.input-field {
    resize: none;
}

.submit-btn {
    background-color: rgb(255, 200, 0);
    color: white;
    border: none;
    padding: 12px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    margin-top: 10px;
}

.submit-btn:hover {
    background-color: rgba(255, 200, 0, 0.667);
}
/* Aquí esta location */

.location{
    display: flex;
    flex-direction: column;
}
.locationImage{
    width: 100%;
    height: 50vh;
    background-image: url(../images/informationImage.jpg);
    background-size: cover;
    background-position: center;
}

.locationDescription{
    height: 350px;
    font-size: 1.3em;
    background-size: cover;
    background-position: center;
}
.locationDescription h1 {
    text-align: center;
    font-size: 3em;
}

 

/* Footer */
footer{
    color: black;
}
.aboutUs{
    height: 300px;
    background-color: rgb(255, 200, 0);
    flex-direction: column;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.textAboutUs{
    padding: 20px;
    font-size: 1.5em;
    text-align: center;
    width: 80%;
}
.headerAboutUs{
    height: 30px;
    font-size: 3em;
}
.GetQuote{
    padding: 10px;
    background-color: rgb(50, 35, 35);
    color: white;
    margin-bottom: 25px;
    border-radius: 5px;
    font-size: 1em;
}
.c2025{
    height: 100px;
    display: flex;
    align-items: center;
}
@media (max-width: 1434px) {
    body {
      font-size: 16px;
    }
    .container {
      width: 90%;
    }

    .locationImage{
        width: 400px;
        height: 350px;
    }
    .informationImage{
        margin: 0px;
        padding: 0px;
        width: 450px;
        
        
    }
    .location{
        justify-content: center;
        align-items: center;
    }

  }
  
  

@media (max-width: 886px) {
    
    .containerInformationImage{
        display: none;
    }
    .informationText{
        text-align: center;
        font-size: 20px;
        width: 100%;
        height: auto;
    }
    .services{
        flex-direction: column;
    }
    .locationDescription{
        height: 350px;
        font-size: 1.3em;
        text-align: center;
    }
    .locationImage{
        width: 300px;
        height: 300px;
        background-image: url(../images/informationImage.jpg);
        background-size: cover;
        background-position: center;
    }
    .location{
        justify-content: center;
        align-items: center;
    }
    .autoProInformation{
        align-items: center;
        justify-content: center;
    }
    .subHeadMenu {
        display: none;
      }
      .contactUs_location {
        margin: 40px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: auto;
        height: auto;
    }
    .linea {
        margin: 10px;
        width: 100%; 
        height: 2px; 
        background-color: black; 
      }
      .locationImage{
        display: none;
    }
    .email-submission{
        text-align: center;
    }
}
@media (max-width: 516px) {
    html, body {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        overflow-x: hidden; 
    }

    header{
        height: 300px;
    }
    #nav-services {
        display: none;
    }
    .welcomeHeader{
        font-size: 2em;
        margin: 12px;
    }
    .welcomeText{
        font-size: 1em;
    }
    .servicesHeader{
        font-size: 2.4em;
    }
    .navegation ul li a{
        font-size: 15px;
    }
    .contact-us-header {
       font-size: 1.6em;
    }
    .locationHeader{
        height: 20px;
        font-size: 2.em !important;
    }
     .mainHeader{
        display: flex;
        font-size: 2.4em;
        height: 50px;
    }
    .aboutUs{
        height: auto;
    }
    .headerAboutUs{
        font-size: 2.4em;
    }
    .textAboutUs{
        font-size: 22px;
    }

}




